body{
    background: #000;
    background-image: url(https://arzu.kg/cafe-inside/static/images/content/KOR-27.jpg);
    max-width: 2000px;
    max-height: 1000px;
}


.container{
  background: #000;
}




.card{
    margin-top: 10px;
}

.box{
    display: flex;
    justify-content: center;
    margin-top: 150px;

}
.box {
    transition: 1s; /* Время эффекта */
   }
   .box:hover {
    transform: scale(0.9); /* Увеличиваем масштаб */
   }

   @media all and (max-width: 950px){
   .cards{
       width: 10%;
   }
}