* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.navbar{
  display: flex;
  justify-content: center;
 align-items: center;

 margin-left: 10%;
 width: 23%;

}
.link{
  color: #ffee58;
}
.css-hyum1k-MuiToolbar-root{
  background-color: black;

  border-radius: none;


}

.css-hyum1k-MuiToolbar-root{
  height: 100px;
}

.search{
  background: rgb(74,74,75);
  background: linear-gradient(90deg, rgba(74,74,75,0.44861694677871145) 0%, rgba(54,54,55,1) 0%, rgba(39,40,41,0.6334908963585435) 100%, rgba(0,212,255,1) 100%);
}

 /* adaptive start */
@media all and (max-width: 1080px) {
  .navbar{
     width: 25%;
     margin-left: 10px;
  }
  

}

@media all and (max-width: 900px){
  .navbar{
    margin-left: 10%;
  }
  .img{
    width: 10%;
  }
}
  /*  adaptive end */