* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.navbar{
  display: flex;
  /* justify-content: center; */
 align-items: center;

   margin-left: 25%;
 width: 20%;

}
.shopping{
  color: #ffe082 ;
  width: 10px;
}
.link{
  color: #ffee58;
}
.css-19r6kue-MuiContainer-root{
  background-color: black;

  border-radius: none;


}

.css-hyum1k-MuiToolbar-root{
  height: 100px;
}

.search{
  background: rgb(74,74,75);
  background: linear-gradient(90deg, rgba(74,74,75,0.44861694677871145) 0%, rgba(54,54,55,1) 0%, rgba(39,40,41,0.6334908963585435) 100%, rgba(0,212,255,1) 100%);
}

 /* adaptive start */
@media all and (max-width: 1080px) {
  .navbar{
     width: 25%;
     margin-left:80px;
  }
  .footer{
    margin-left: -100px;
  }
  img{
    width: 60%;
  }
  .p p-1{
    width: 10% ;
  }
}
@media all and (max-width: 1080px) {
  .navbar{
    margin-left: 25%;
  }
}

@media all and (max-width: 900px){
  .navbar{
    margin-left: 10%;
  }

  .footer{
    margin-left: -200px;
  }
 
  .p p-1{
    width: 10% ;
  }
  img{
    width: 90%;
  }
  .next{
    display: none;
  }
 
   .card{
    margin-left: 100px;
   }
}
@media all and (max-width: 890px){
  
  .footer{
    margin-left: -250px;
    font-weight: 10%;
    height: 60%;
  }
  
  .picture{
    width: 100px;
    
  }
  .next{
    display: none;
  }
  
  .navbar{
    width: 30%;
    margin-left: 1px; 
  }
  
    
    
}

@media all and (max-width: 831px){
 .navbar{
  width: 20%;
  margin-left: 35%;
 }
}

@media all and (max-width: 820px){
  .picture{
    width: 90%;
  }
}

@media all and (max-width: 768px) {
  .navbar{
    margin-left: 38%;
  }
}
@media all and (max-width: 620px){
  .all{
    width: 150%;
  }
  .image{
    width: 100%;
  }
}

@media all and (max-width: 425px){
   .box{
      display: block;
       flex-wrap: wrap;
       /* margin-right: 50%; */


  }
  .css-0{
 width: 100%;
  }
  

  #root{
    width: 100%;
  }
  
.texxt{
  margin-right: 100px;
  font-size: 10%;
}
.arzu{
  margin: 10% 10%;
}
.arzu2{
 margin-right: 10px;
}
}
@media all and (max-width: 320px){
.video{
  display: none;
}
.navbar{
  width: 30%;
  margin-left: 350%;
}
.css-gepadz-MuiTypography-root{
  font-size: 10px !important;
}


.css-byrvmt-MuiTypography-root{
  display: flex;
  justify-content: flex-start;
  /* margin-bottom: -10px !important; */
  margin-top: 10px !important;
 
}
.css-1825aem-MuiTypography-root{
  font-size: 10px !important;
  margin-top: 10px !important;
  margin-bottom: -40px !important;
}
.css-1jb4ns0-MuiTypography-root{
  font-size: 10px !important;

}
.css-sqx8tt-MuiTypography-root{
  font-size: 10px !important;
  margin-top: 10px !important;
  margin-bottom: -20px !important;

}
.css-byrvmt-MuiTypography-root{
  font-size: 10px !important;
}
.shopping{
  width: 10px;
}
.css-2s90m6-MuiAvatar-root{
margin-top: 10px;
}

.cardss{
  display: block !important;
 flex-direction: column !important;
 flex-wrap: wrap !important;
 width: 100%
}
.card-product {
  width: 100% !important;
}
.css-vj1n65-MuiGrid-root{
  width: 70%;
}
.css-1hvh3sw-MuiPaper-root-MuiCard-root{
  width: 60% !important;
  height: 60% !important;
  margin-top: 10%;
  margin-left: 20% !important;
}
.css-eelcs1-MuiPaper-root-MuiCard-root{
  width: 60% !important;
  height: 60% !important;
  margin-top: 10%;
  margin-left: 20% !important;  

}
.css-46bh2p-MuiCardContent-root{
  width: 60% !important;
  height: 60% !important;
 
  margin-top: 10%;
}
.css-b6lsxj-MuiButtonBase-root-MuiCardActionArea-roott{
  width: 60% !important;
  height: 60% !important;
  margin-left: 10%;
  margin-top: 10%;
}

.css-13o0td9-MuiPaper-root-MuiCard-root{
  width: 60% !important;
  margin-left: 20% !important;
  margin-top: 10%;
}



}
@media all and (max-width: 425px) {
  .navbar{
    margin-left: 37%;
  }
}


@media all and (max-width: 375px) {
  .navbar{
    margin-left: 35%;
  }
}


  /*  adaptive end */